$defaultColor : #009688;
$white : #ffffff;

$orange : #f0ad4e;
$red : #d9534f;
body{
	font-family: 'Roboto','Ubuntu', 'Open Sans', sans-serif, 'Lato';

	#map{
		width: 100%;
		height: 500px;
	}
	//navbar part client->layouts
	.navbar{
		min-height: 35px !important;
		border-radius: 0;
		// margin: 0px;
		.navbar-nav > li > a, .navbar-brand {
			padding-top:7px !important;
			padding-bottom:3px !important;
			height: 35px;
		}
	}
	.well {
	    background-color: #f5f5f5;
	    border: 1px solid $orange;
	    border-radius: 0px;
	    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
		.btn-warning{
			border: 2px solid $orange;
			background: $white;
			color: $orange;
			border-radius: 20px;
			&:hover, &:focus{
				background: $orange;
				color: $white;
			}

		}
	}
	 // index page -> client
	.background-image{
		width: 100%;
		height: 500px;
		margin-bottom: 20px;
		background-image: url("/img/pizza_background.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
		.headline{
			text-align: center;
			margin-left: 20%;
			padding-top: 19%;
			height: 50px;
			width: 35%;
			h2{
				font-family: 'Ubuntu';
				z-index: 1;
				box-shadow: 0.5px 0.5px 5px #d3d3d3;
				background: $defaultColor;
				color: $white;
				padding:10px;
			}
		}
	}

	.ingredients-row{
		margin-bottom: 15px;
		margin-top: 15px;
	}

	// orders
	#mapModal{
		.modal-header{
			color: $white;
			background: $defaultColor;
			opacity: 0.3;
		}
		.modal-body{
		}
	}

	 //index page ->client.address
	.nav-left{
		font-family: 'Roboto';
		font-weight: 500;
		li:first-child {
			background: $defaultColor;
			a{
				letter-spacing: 1.5px;
				color: $white;
				&:hover, &:focus{
					background: $defaultColor !important;
				}
			}
		}
		li{
			a{
				color: $orange;
				letter-spacing: 1px;
				text-shadow: 1px -0.3px $defaultColor;
			}
		}
	}
	.border-buttons{

		.btn-warning{
			border: 2px solid $orange;
			border-radius: 50px;
			background: $white;
			color: $orange;
			&:hover{
				color: $white;
				background: $orange;
			}
			&:focus{
				outline:none;
			}
		}
		.btn-danger{
			border: 2px solid $red;
			border-radius: 50px;
			background: $white;
			color: $red;
			&:hover{
				color: $white;
				background: $red;
			}
			&:focus{
				outline:none;
			}
		}
		.btn-success{
			border: 2px solid $defaultColor;
			border-radius: 50px;
			background: $white;
			color: $defaultColor;
			&:focus{
				outline:none;
			}
		}
	}
	footer{
		clear: both;
		margin: 20px 0 0 0;
		.container{
			padding:20px 0 10px;
		}
	}
}
